* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #fff;
  --text-color: hsla(240, 0%, 0%, 1);
  --button-color: hsla(240, 9%, 89%, 1);
  --button-hover: hsla(194, 97%, 31%, 0.6);
  --border: rgba(60, 64, 67, 0.3);
  --fc-light: hsla(240, 6%, 21%, 1);
  --fc-black: #FFFFFF;
  --bg-body-light: #ffffff;
  --bg-body-black: hsla(240, 5%, 7%, 1);
    font-size: 62.5%;
}
body.light{
  background: var(--bg-body-light);
  color: var(--bg-body-black);
}

body {
  background: var(--text-color);
  color: var(--fc-black);
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: grid;
  position: relative;
  z-index: 1000;
}


main {
  justify-self: center;
  align-self: center;
  display: flex;
  gap: 11rem;
  border: 1px solid var(--border);
  border-radius: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 5px 1px 10px 5px,
    rgba(60, 64, 67, 0.15) 0px 1px 10px 1px;
  padding: 20px;
  width: 82rem;
  align-items: center;
  justify-content: center;
  margin: 14% auto;
}
.time {
  font-size: 12.6rem;
  font-weight: 500;
  display: flex;
  margin-bottom: 1.7rem;
  display: flex;
}
body .comands button svg path{
  fill: var(--bg-body-light);
}
body.light .comands button svg path{
  fill: var(--bg-body-black);
}
.comands {
  display: flex;
  gap: 4rem;
}

.cards {
  display: grid;
  grid-template-areas:
    'a b'
    'c d';
  gap: 3rem;
  align-items: center;
  justify-self: center;
}
body .cards button svg path {
  fill: var(--bg-body-light);
}
body.light .cards button svg path {
  fill: var(--bg-body-black);
}
body.light .cards  button.focus svg path{
  fill: var(--bg-body-light);
}
.cards button {
  padding: 4.8rem;
  box-shadow: rgba(60, 64, 67, 0.3) 5px 5px 10px 5px,
    rgba(60, 64, 67, 0.15) 5px 5px 20px 5px;
  border: 1px solid var(--border);
  border-radius: 24px;
  width: 15rem;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
body.light .cards vsg path {
  fill: var(--bg-body-light);
}
.cards svg path {
  fill: hsla(240, 0%, 0%, 1);
}
body.light .focus svg path {
  fill: var(--button-color);
}
.focus svg path {
  fill: var(--bg-body-light)
}
body.light .card button.focus{
  background: var(--button-hover);
  animation: changeBackgroundColor 2s;
}
.cards button.focus {
  background: var(--button-hover);
  animation: changeBackgroundColor 2s;
}

@keyframes changeBackgroundColor {
  0% {
    opacity: 0;
  }
  100% {
    background-color: var(--button-hover);
  }
}

.img-florest {
  background: url(./images/forest.jpg) no-repeat center;
  background-size: cover;
}
.img-fire {
  background: url(./images/fire.jpg) no-repeat center;
  background-size: cover;
}
.img-coffe {
  background: url(./images/coffehouse.jpg) no-repeat center;
  background-size: cover;
}
.img-rain {
  background: url(./images/rain.jpg) no-repeat center;
  background-size: cover;
}

.glass {
  backdrop-filter: blur(8px);
}
.fundo {
  position: relative;
  z-index: -1;
  background: url(./images/pomodoro.jpg);
  background-size: cover;
}

div input {
  position: relative;
  bottom: 36px;
  left: 22px;
}

input[type='range'] {
  -webkit-appearance: none;
  border-radius: 10px;
  width: 10rem;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 6.5rem;
  height: 6px;
  border: none;
  border-radius: 3px;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-top: -6px;
}

body.light button.focus ~ input[type='range']::-webkit-slider-thumb,
body.light button.focus ~ input[type='range']::-webkit-slider-runnable-track {
  background: white;
}
body.light input[type='range']::-webkit-slider-thumb,
body.light input[type='range']::-webkit-slider-runnable-track {
  background: var(--bg-body-black);
}
input[type='range']::-webkit-slider-thumb,
input[type='range']::-webkit-slider-runnable-track {
  background: #ffffff;
}

nav.modulos{
  position: fixed;
  right: 6.4rem;
  top: 6.4rem;
  cursor: pointer;
}

body.ligth nav.modulos .light{
  display: initial;
}
.hide {
  display: none;
} 